.container{
    background-color:#F3E9FF ;
}
#text-title{
    font-family: Arial,Helvetica, sans-serif;
    text-align: center;
    color: #522AC1;
}
#logo{
    text-align: center;
}
.main{
    background-color: #774AD8;
}